@mixin boton($bgColor) {
    background-color: $bgColor;
    color: azure;
    font-weight: bold;
    text-decoration: none;
    padding: 1rem 3rem;
    text-align: center;
    margin-top: 1rem;
    border-color: darken( $bgColor, 5);

    &:hover{
        background-color: darken($bgColor,5);
    }
}

@mixin grid($columna, $espaciado) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columna,1fr);
}