//Colores
$rojo : rgb(216, 31, 62);
$verde : rgb(50, 202, 95);
$gris : rgb(180, 228, 167);
$bggris : rgb(238, 238, 238);
$gris_oscuro : rgba(185, 228, 173, 0.774);
$amarillo : rgb(240, 191, 76);


//Tipografia
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
$main_font : 'Lato', sans-serif;
