@use 'base/variables' as v;

.panel{
    padding-top: 2rem;
    text-align: center;
    .container{
        text-align: left;
        background-color: v.$gris;
    }
}
.form{
    padding: 2rem;
    display: flex;
    align-items: center;
}

.input-text{
    margin-left: 2rem;
    height: 4rem;
}

.ver-todos{
    padding-right: 2rem;
    .boton-amarillo{
        font-size: 1.6rem;
    }
}